div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.big {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

::selection {
	color: red;
}
